ion-title{
    font-family: Futura;
}

ion-img{
    border-radius: 50%;
}


ion-avatar {
    --border-radius: 50%;
    width: 100px;
    height: 100px;
    align-items: center;
    text-align: center;
}
.btn-text{
    font-family: Futura;
    color: white;
    font-size: 12px;
}

.label{
    font-size: 10px;
    
}
.inputfields-top{
    border-top: 1px solid grey;
    border-radius: 3px;
    border-right: 1px solid grey;
    border-left: 1px solid grey;
    font-size: 12px;
    font-family: Futura;
}

.inputfields-bottom{
    border-top: 1px solid grey;
    border-radius: 3px;
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
    border-left: 1px solid grey;
    font-size: 12px;
    font-family: Futura;
}