<ion-header class="ion-no-border" >
  <ion-toolbar style=" --background:linear-gradient(110deg, #fad961 0%,#f76b1c 100%);">
    <ion-title>Profile</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<img src=""/>
<img />
<ion-content >
<ion-grid fixed>
  <ion-row class="ion-align-items-center" class="ion-no-margin" class="ion-no-border">
    <ion-col  size="6" offset="3">
      <ion-img src="https://img.icons8.com/ios-filled/50/000000/user-male-circle.png"></ion-img>
     
      <ion-text class="ion-text-center">
        <h6>John Smith</h6>
      </ion-text>
    </ion-col>
    <ion-col size="12">
      <h6>“We are afraid to care too much, for fear that the other person does not care at all.”</h6>

    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
