<ion-header class="ion-no-border">
  <ion-toolbar >
<ion-buttons slot="start">
  <ion-back-button defaultHref=""></ion-back-button>
</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <ion-grid  fixed>
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-align-self-center" size="10">
  <!-- <ion-img src="https://image.freepik.com/free-vector/access-control-system-abstract-concept_335657-3180.jpg"></ion-img> -->
       
      </ion-col>
      <ion-col class="ion-margin" size="10" offset="">
         <ion-input class="inputfields-top" type="text" placeholder="Fullname"></ion-input>
       <ion-input class="inputfields-top" type="text" placeholder="Mobile Number"></ion-input>

       <ion-input class="inputfields-top" type="text" placeholder="Email"></ion-input>
       <ion-input class="inputfields-top" type="text" placeholder="Password"></ion-input>

       <ion-list style="margin-top:5px;" color="transparent">
        <ion-radio-group (ionChange)="whoAreYou($event)">
          <ion-list-header>
            <ion-text class="ion-text-center" style="color:lightgray; margin: 0px;">
             Who are you?
            </ion-text>
          </ion-list-header>
      
          <ion-item class="ion-no-border" lines="none">
            <ion-label>Advertiser</ion-label>
            <ion-radio value="advertiser"></ion-radio>
          </ion-item>
      
          <ion-item class="ion-no-border" lines="none">
            <ion-label>User</ion-label>
            <ion-radio value="user"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>

       <ion-button color="light" class="btn-text"(click)="onRegister()" expand="block"  shape="round" fill="outline">
         REGISTER
       </ion-button>
       
  
    
  
      </ion-col>
    </ion-row>
  </ion-grid>
      
      
      
  </ion-content>
  