<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid fixed>
  <ion-row class="ion-justify-content-center">
    <ion-col class="ion-align-self-center" size="10">
      <ion-img src="https://image.freepik.com/free-vector/forgot-password-concept-illustration_114360-1010.jpg"></ion-img>
      <ion-input class="inputfields-bottom" type="text" placeholder="Email to send password reset link."></ion-input>
      <ion-button color="danger" class="btn-text"(click)="onSendPasswordResetLinkClick()" expand="block">
        SEND LINK
      </ion-button>
    </ion-col>

  </ion-row>
</ion-grid>
</ion-content>
