<ion-header class="ion-no-border">
  <ion-toolbar translucent="true">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid fixed>
  <ion-row class="ion-justify-content-center">
    <ion-col class="ion-align-self-center" size="10">
      <ion-input class="inputfields-bottom" type="text" placeholder="Email to send password reset link."></ion-input>
      <ion-button fill="outline" shape="round" color="light" class="btn-text"(click)="onSendPasswordResetLinkClick()" expand="block">
        SEND LINK
      </ion-button>
    </ion-col>

  </ion-row>
</ion-grid>
</ion-content>
