.btn-text{
    font-family: Futura;
    color: white;
    font-size: 12px;
}

ion-content{
    --background:linear-gradient(135deg, #fad961 0%,#f76b1c 100%);

}
.label{
    font-size: 10px;
    
}
.inputfields-top{
    color: white;
    padding: 10px;
    border-top: 1px solid white;
    border-radius: 3px;
    border-right: 1px solid white;
    border-left: 1px solid white;
    font-size: 12px;
    font-family: Futura;
}

.inputfields-bottom{
    color: white;
    padding: 10px;
    border-top: 1px solid white;
    border-radius: 3px;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    border-left: 1px solid white;
    font-size: 12px;
    font-family: Futura;
}